<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Pipes</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Uppercase : {{osName | uppercase}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Datetime {{dateTime | date:"dd-MM-yyyy"}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      Chaining {{osName | slice:"1":"3" | uppercase}}
    </div>
  </div>

   <div class="row">
    <div class="col-md-12">
      Currency {{money | currency:"INR"}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      Custom {{money | custom:"12":"45"}}
    </div>
  </div>

<div class="row">
    <div class="col-md-3">
     <input type="text" #os>
    </div>
    <div class="col-md-9">
      <input type="button" class="btn btn-primary" (click)="addOs(os.value)" value="Add"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
     Filter
    </div>
    <div class="col-md-9">
      <ul>
        <li *ngFor="let mobile of mobiles | filter">{{mobile}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
     Async Pipe
    </div>
    <div class="col-md-9">
    HEllo {{asyncData | async}}
    </div>
  </div>
</div>